.greetings{
    font-size: 45px;
    font-family: Christmas-font;
    color: #dadada;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 62px;
    margin-right: 50px;
}

.card{
    background-color: #dadada;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    font-weight: 3px;
    outline: 0;
}

.info-box{ 
    max-width: 65%;
    height: 480px; 
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    background-image: url('src/background-pic.jpg');
    border-radius: 3px;
}

.inside{
    background-color: aliceblue;
    opacity: 0.85;
    border-radius: 13px;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    width: 500px;
}

@font-face {
    font-family: Christmas-font;
    src: url("src/ChristmasReignPersonal.ttf") format('opentype');
}
