.news{
    font-family: Serifiqo;
    font-size: 26px;
    color: #dadada;
    cursor: pointer;
    background-color: transparent;
    float: right;
    margin-top: 2%;
    margin-right: 4%
}

.bank-logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 7%;
}

.bank-name{
    font-family: Christmas-font;
    margin: auto;
    font-size: 60px;
    color: #dadada;
    background-color: transparent;
}

.cryo-pic{
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
}

.input-placeholder{
    margin: 1%;
    display: flex;
    margin: 1%;
}

@font-face {
    font-family: Serifiqo;
    src: url("src/Serifiqo\ 4F\ Free\ Capitals.otf") format('opentype')
}

@font-face {
    font-family: Christmas-font;
    src: url("src/ChristmasReignPersonal.ttf") format('opentype');
}